[build]
builder = "nixpacks"

[deploy]
startCommand = "gunicorn backend.minNow.wsgi:application -b [::]:${PORT:-3000}"


[web]
command = "gunicorn backend.minNow.wsgi:application -b [::]:${PORT:-3000} --log-file -"