[build]
builder = "RAILPACK"

[deploy]
startCommand = "python backend/manage.py migrate && gunicorn backend.minNow.wsgi:application --bind 0.0.0.0:$PORT"



[web]
command = "gunicorn backend.minNow.wsgi:application --bind 0.0.0.0:$PORT --log-file -"
